In [1]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [2]:
pq.read_metadata('yellow_tripdata_2024-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x0000023FFB768180>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 2964624
  num_row_groups: 3
  format_version: 2.6
  serialized_size: 6357

In [4]:
file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [5]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:123456@localhost:5434/ny_taxi')
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [9]:
df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

0

In [11]:
t_start = time()
count = 0 

for batch in file.iter_batches(batch_size=100_000):
    count += 1
    batch_df = batch.to_pandas()
    print(f"inserting batch {count}...")
    b_start = time()

    batch_df.to_sql(name='ny_taxi_data', con=engine, if_exists='append')
    b_end = time()
    print(f"inserted! time taken {b_end - b_start:10.3f} seconds.\n")

t_end = time()
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      8.752 seconds.

inserting batch 2...
inserted! time taken      8.861 seconds.

inserting batch 3...
inserted! time taken     15.021 seconds.

inserting batch 4...
inserted! time taken      9.399 seconds.

inserting batch 5...
inserted! time taken     15.165 seconds.

inserting batch 6...
inserted! time taken     16.982 seconds.

inserting batch 7...
inserted! time taken     16.477 seconds.

inserting batch 8...
inserted! time taken     10.139 seconds.

inserting batch 9...
inserted! time taken      8.741 seconds.

inserting batch 10...
inserted! time taken      8.489 seconds.

inserting batch 11...
inserted! time taken      8.552 seconds.

inserting batch 12...
inserted! time taken      8.344 seconds.

inserting batch 13...
inserted! time taken      8.408 seconds.

inserting batch 14...
inserted! time taken      8.643 seconds.

inserting batch 15...
inserted! time taken      8.275 seconds.

inserting batch 16...
inserted! time taken      8.600 seconds.

inserting batch 17...
inserted! time taken      9.051 seconds.

inserting batch 18...
inserted! time taken      8.217 seconds.

inserting batch 19...
inserted! time taken      8.234 seconds.

inserting batch 20...
inserted! time taken      8.531 seconds.

inserting batch 21...
inserted! time taken      8.522 seconds.

inserting batch 22...
inserted! time taken      8.627 seconds.

inserting batch 23...
inserted! time taken      9.056 seconds.

inserting batch 24...
inserted! time taken      8.822 seconds.

inserting batch 25...
inserted! time taken      8.644 seconds.

inserting batch 26...
inserted! time taken      8.518 seconds.

inserting batch 27...
inserted! time taken      8.735 seconds.

inserting batch 28...
inserted! time taken      8.477 seconds.

inserting batch 29...
inserted! time taken      8.391 seconds.

inserting batch 30...
inserted! time taken      5.444 seconds.

Completed! Total time taken was    286.539 seconds for 30 batches.